<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Update Role</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
</head>
<body>
<div class="w3-container">

    <p id="roleId" hidden><span th:text="${id}"/></p>

    <div class="w3-container w3-bar w3-blue">
        <span class="w3-bar-item" style="padding-left:1px"><b>Update Role</b></span>

        <span class="w3-bar-item w3-button" style="float: right;">
            <img th:src="@{/images/icon_logout.jpg}"
                 alt="Logout"
                 style="width:27px;height:27px;"
                 title="Logout"
                 id="btnLogout">
        </span>

        <a href="/home" class="w3-bar-item w3-button" style="float: right;">
            <img th:src="@{/images/icon_home.png}"
                 alt="home"
                 style="width:27px;height:27px;"
                 title="home"></a>
    </div>
    <br>


    <table id="update_entity_table" class="w3-table w3-bordered">
        <tr>
            <th>Property Name</th>
            <th>Property Value</th>
        </tr>
        <tr>
            <td>Id</td>
            <td><label id="role_id" name="role_id_name"></label></td>
        </tr>
        <tr>
            <td>Role</td>
            <td><input id="role_role" name="role_role_name" type="text"></td>
        </tr>
    </table>

    <br>
    <br>


    <div class="container">
        <button id="btnSave" class="btnSaveAuto">Save</button>
        <button id="btnGoToRead" type="button">Cancel</button>
    </div>

    <script type="text/javascript">

        $.ajaxSetup({
            cache: false,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            }
        });

        function RoleDTO(id,role){
            this.id = id;
            this.role = role;
        }

        $(document).delegate('#btnSave','click',function(event){
            event.preventDefault();

            var roleId = $('#roleId').text();

            var id = roleId;
            var role = $('#role_role').val();

            var roleDTO = new RoleDTO(id,role);

            console.log(roleId);
            console.log(id);
            console.log(role);
            console.log(roleDTO);
            console.log(JSON.stringify(roleDTO));

            $.ajax({
                type: "PUT",
                url: '/role',
                data: JSON.stringify(roleDTO),
                success: function(result){
                    location.href="/ui/role/read/" + roleId;
                    window.setTimeout(function(){
                        location.reload();
                    }, 1000);
                },
                error: function(err){
                    alert('PUT REQUEST ERROR!');
                }
            });
        });


        $(document).delegate('#btnGoToRead','click',function(result){

            var roleId = $('#roleId').text();

            location.href="/ui/role/read/" + roleId;
            window.setTimeout(function(){
                location.reload();
            }, 1000);
        });


        function ajaxGet(){

            var roleId = $('#roleId').text();

            $.getJSON('/role/' + roleId, function(json){

                console.log(json);

                $('#role_id').text(json.id);
                $('#role_role').val(json.role);

            });
        }

        $(document).delegate('#btnLogout','click',function(event){
            event.preventDefault();

            $.ajax({
                type: "GET",
                url: '/logout',
                success: function(result){
                    location.href="/auth/login";
                    window.setTimeout(function(){
                        location.reload();
                    }, 1000);
                },
                error: function(err){
                    alert('LOGOUT ERROR!');
                }
            });
        });

        $(document).ready(function() {
            ajaxGet();
        });

    </script>
</div>
</body>
</html>