<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>List Cars</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
</head>
<body>
<h1 style="color: cyan; text-align: center">Ваши машины</h1>
<div class="w3-container">

    <div class="w3-container w3-bar w3-blue">

        <span class="w3-bar-item" style="padding-left:1px"><b>Car List</b></span>

        <a href="/ui/car/create" class="w3-bar-item w3-button" style="float: right;">
            <img th:src="@{/images/icon_create.gif}"
                 alt="create"
                 style="width:27px;height:27px;"
                 title="create"></a>

        <span class="w3-bar-item w3-button" style="float: right;">
            <img th:src="@{/images/icon_logout.jpg}"
                 alt="Logout"
                 style="width:27px;height:27px;"
                 title="Logout"
                 id="btnLogout">
        </span>

        <a href="/home" class="w3-bar-item w3-button" style="float: right;">
            <img th:src="@{/images/icon_home.png}"
                 alt="home"
                 style="width:27px;height:27px;"
                 title="home"></a>

    </div>

    <br>

    <table id="entities_table" class="w3-table w3-striped w3-bordered w3-hoverable">
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Number</th>
            <th>User_id</th>
            <th>Description</th>
        </tr>
    </table>
    <script type="text/javascript">

        function ajaxGet() {
            $.getJSON('/car', function (json) {
                console.log(json);
                let descr = "Подробнее";
                var tr = [];
                for (var i = 0; i < json.length; i++) {
                    tr.push('<tr>');
                    tr.push('<td><a id=' + json[i].id + ' href="/ui/car/read/' + json[i].id + '">' + json[i].id + '</a></td>');
                    tr.push('<td>' + json[i].model + '</td>');
                    tr.push('<td>' + json[i].number + '</td>');
                    tr.push('<td>' + json[i].user_id + '</td>');
                    tr.push('<td><button type="submit" onclick="location.href=\'/ui/car/read/' + json[i].id + '\'\">' + descr + '</button></td>')
                }
                $('#entities_table').append($(tr.join('')));
            });
        }

        $(document).delegate('#btnLogout', 'click', function (event) {
            event.preventDefault();

            $.ajax({
                type: "GET",
                url: '/logout',
                success: function (result) {
                    location.href = "/auth/login";
                    window.setTimeout(function () {
                        location.reload();
                    }, 1000);
                },
                error: function (err) {
                    alert('LOGOUT ERROR!');
                }
            });
        });


        $(document).ready(function () {
            ajaxGet();
        });
    </script>
</div>
</body>
</html>