<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Home Page</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.js"></script>
</head>
<body>
<div>
    <div class="w3-container">

        <div class="w3-container w3-bar w3-blue">

            <span class="w3-bar-item" style="padding-left:1px"><b>Главная страница</b></span>

            <span class="w3-bar-item w3-button" style="float: right;">
            <img th:src="@{/images/icon_logout.jpg}"
                 alt="Logout"
                 style="width:27px;height:27px;"
                 title="Logout"
                 id="btnLogout">
            </span>

        </div>

        <br>

        <div style="padding: 10px">
            <button type="submit" th:onclick="|window.location.href='/ui/car/list'|">Машинки</button>
            <button type="submit" th:onclick="|window.location.href='/ui/user/list'|">Юзеры</button>
            <button type="submit" th:onclick="|window.location.href='/ui/role/list'|">Роли</button>
        </div>
        <script type="text/javascript">

            $(document).delegate('#btnLogout', 'click', function (event) {
                event.preventDefault();

                $.ajax({
                    type: "GET",
                    url: '/logout',
                    success: function (result) {
                        location.href = "/auth/login";
                        window.setTimeout(function () {
                            location.reload();
                        }, 1000);
                    },
                    error: function (err) {
                        alert('LOGOUT ERROR!');
                    }
                });
            });

        </script>
    </div>
</div>
</body>
</html>